<a href="https://colab.research.google.com/github/priteshvermaa/Devops_-_Python/blob/master/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import keyword
print(keyword.kwlist)
print("\n total number of keywords: ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 total number of keywords:  35

In [ ]:
abc_12 = 12
print(abc_12)

12

In [ ]:
# this means single line comment 
print("above is single line comment")

above is single line comment

In [ ]:
"""This is a 
perfect example of multiline comment"""

print("above is example of multiline comment")

above is example of multiline comment

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
#four spaces for indentations

In [ ]:
if True:
    print("Applied AI")
    c = "PVPV"

Applied AI

In [ ]:
print(c)

PVPV

In [ ]:
a = 1 # single statement

In [ ]:
#multiline statements
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [ ]:
print(a)

36

In [ ]:
q = (1 + 2 + 3 + 
    4 + 5 + 6 + 
    7 + 8)

In [ ]:
print(q)

36

In [ ]:
a = 10; b = 20; c = 30 #put multiple statements in a single line using semicolon

In [ ]:
# NOw we'll use variable

In [ ]:
a = 10 
b = 5.5
c = "Pritesh"

In [ ]:
#Multiple assignment

a,b,c = 10, 5.5, "ML"
print(a," ",b," ",c)

10   5.5   ML

In [ ]:
x = 3 
print(id(x)) # it prints the address of the variable x

94466824280672

In [ ]:
y = 3 

print(id(y))

94466824280672

In [ ]:
y = 2 
print(id(y))

94466824280640

In [ ]:
#H1 DATA TYPES

#Everthing in python is object

In [ ]:
a = 5
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [ ]:
a = 2.5
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [ ]:
a = 1 + 2j
print(a, " is a complex?")
print(isinstance(1+2j, complex))
print(type(a))

(1+2j)  is a complex?
True
<class 'complex'>

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:
# Python Strings

In [ ]:
s = "This is the online version of notebook I used when I didn't had dharwad internet connection"
print(type(s))

<class 'str'>

In [ ]:
s = """This is just me 
testing out multiline string"""
print(s)
print(type(s))

This is just me
testing out multiline string
<class 'str'>

In [ ]:
print(s[0])
print(s[-1]) # last element
print(s[len(s)-1])

T
g
g

In [ ]:
#slicing
print(s[5:])

is just me
testing out multiline string

In [ ]:
print(s[5:10]) # 5 to 9 not 10th one

is ju

In [ ]:
#Python list

In [ ]:
a = [10, 20.5, "Hell0"]
print(a)
print(a[1])
print(a[:])

[10, 20.5, 'Hell0']
20.5
[10, 20.5, 'Hell0']

In [ ]:
a[1] = "Pritesh"

In [ ]:
print(a)

[10, 'Pritesh', 'Hell0']

In [ ]:
print(type(a))

<class 'list'>

In [ ]:
# List are mutable, meaning, values of elemnets of a list can be altered

In [ ]:
#Python tuple the only difference between list and tuple is () -> tuple []-> list and tuple
#are immutable

In [ ]:
#python set
a = {10, 30, 20, 40, 5}
print(a)
print(type(a))

{5, 40, 10, 20, 30}
<class 'set'>

In [ ]:
a = {10, 10, 10, 20, 20, 40, 50} #set in python is similar to the set in mathematics
print(a)

{40, 10, 20, 50}

In [ ]:
print(a[1]) # we cannot print particular item in set because 
            # it's unorder collections of items

TypeError: 'set' object does not support indexing

In [ ]:
 #Python dictionary
    """ Dictionaries are defined within braces {} with each item being
    a pair in the form Key: value. where key and value can be of any type"""

' Dictionaries are defined within braces {} with each item being\n           a pair in the form Key: value. where key and value can be of any type'

In [ ]:
d = {'a':"apple", 'b': "bat"}
print(d['a'])

apple

In [ ]:
 # conversion between datatypes

In [ ]:
float(5)

5.0

In [ ]:
int(100.87)

100

In [ ]:
str(200)

'200'

In [ ]:
# conversion to and from string must contain compatible values

In [ ]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [ ]:
int(10)

10

In [ ]:
user = "Pritesh"
lines = 100

print("Congratulations, " + user + "! you just wrote " + str(lines) + " lines of code")

Congratulations, Pritesh! you just wrote 100 lines of code

In [ ]:
a = [1, 2, 3]
print(type(a))

s = set(a)
print(type(a))

<class 'list'>
<class 'list'>

In [ ]:
list("Pritesh")

['P', 'r', 'i', 't', 'e', 's', 'h']

In [ ]:
# is and is not  IDENTITY Operator

In [ ]:
a = 5
b = 5
print(a is b) #5 is object created one both a and b points to same object
print(a is not b)

"""This is only true for simple data type """

True
False

'This is only true for simple data type '

In [ ]:
 s1 = "AAIC"
 s2 = "AAIC"
 print(s1 is s2)

True

In [ ]:
# Membershib operator 
""" in and not in are the membership operators in python
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary)"""

' in and not in are the membership operators in python\nThey are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary)'

In [ ]:
lst = [1, 2, 3, 4]
print(1 in lst)

True

In [ ]:
d = {1: "a", 2: "b"} #this is a dictionary 
print(1 in d)
print("a" in d) # it works only with keys not with value

True
False

# The if..elif..else statement is used in Python for decision making.

In [ ]:
num = -10 

if num > 0: # with if statement everything is true except 0 , false and None everything else is true
  print("Number is positive")
else:
  print("Number is negative")

Number is negative

Python program to find the largest element among three numbers

In [ ]:
num1 = 10
num2 = 50
num3 = 15

if(num1 >= num2) and (num1 >= num3):
  largest = num1
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
else:
  largest = num3
print("Largest element among three numbers is: {}".format(largest))

Largest element among three numbers is: 50

## Python while loop

In [ ]:
 lst = [10, 20, 30, 40, 50]

 product = 1
 index = 0

 while index < len(lst):
   product *= lst[index]
   index += 1

 print("Product is: {}".format(product))

Product is: 12000000

In [ ]:
numbers = [1, 2, 3, 4, 5]

#iterating over the list
index = 0
while index < len(numbers):
  print(numbers[index])
  index +=1
else:
  print("No item left in the list")

1
2
3
4
5
No item left in the list

**Python program to check given number is Prime number or not**

In [ ]:
import math
num = int(input("Enter a number: ")) #convert string to int

isDivisible = False

i = 2;

while i < math.sqrt(num):
  if num % i == 0:
    isDivisible = True
    print("{} is divisible by {}".format(num, i))
    break   
  i += 1

if isDivisible:
  print("{} is NOT a PRIME number".format(num))
else:
  print("{} is a PRIME number".format(num))

Enter a number: 119
119 is divisible by 7
119 is NOT a PRIME number

# FOR LOOP

In [ ]:
lst = [10, 20, 30, 40, 50]

product = 1
# iterating over the list 
for ele in lst:
  product *= ele

print("Product is : {}".format(product))

Product is : 12000000

# range() function
We can generate sequence of numbers using range() function. range(10) will generate numbers from 0 to 9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print the range of numbers from 1 to 20 with step size of 2
for i in range(1, 20, 2): # 1 Arg-> starting, 2 Arg-> is ending, 3 Arg-> is step size
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
 for i in range(0, 20, 5):
   print(i)

0
5
10
15

In [ ]:
lst = ["Pritesh", "Nikhil", "Amlan", "Amar", "Jimmy"]

#iterate over the list using index
for index in range(len(lst)):
  print(lst[index])
print("\n")
for item in lst:
  print(item)

Pritesh
Nikhil
Amlan
Amar
Jimmy


Pritesh
Nikhil
Amlan
Amar
Jimmy

In [ ]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
  print(item)
else:
  print("no item left to print")

1
2
3
no item left to print

# Python program to display all prime numbers within an interval

In [ ]:
import math
index1 = 10
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1,index2))

for num in range(index1, index2+1):
  if num > 1:
    isDivisible = False
    for index in range(2, int(math.ceil(math.sqrt(num)))+1):
      if num % index == 0:
        isDivisible = True
    if not isDivisible:
      print(num)

Prime numbers between 10 and 50 are :
11
13
17
19
23
29
31
37
41
43
47

# Python break and continue statements

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the currnet iteration or even the whole loop without checking test exepression.

The break and continue statements are use in these cases.

In [ ]:
num = int(input("Enter a number: "))

isDivisible = False;

i = 2
while i < num:
  if num % i == 0:
    isDivisible = True
    print("{} is divisible by {}".format(num, i))
    break
  i += 1
if isDivisible:
  print("{} is NOT a PRIME number".format(num))
else:
  print("{} is a PRIME number".format(num))

Enter a number: 23
23 is a PRIME number

**List **
#Data Structure

A data structure is a collection of data elements (such as numbers or characters or even other data structures) that is structured in some way for example, by numbering the elements. The most basic data structure in Python is the sequence.

-> List is one of the Sequence Data structure

-> List are collection of items (Strings, integer or even other list)

-> List are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma 

-> List are **mutable**, which means they can be changed

# **List Creation**

In [3]:
emptyList = [], 

Lst = ['one', 'two', 'three', 'four'] # List of strings

lst2 = [1, 2, 3, 4] # List of integers

lst3 = [[1, 2], [3, 4]] # list of list

lst4 = [1, 'Pritesh', 24, 1.24] # list of different datatypes

print(lst4)
print(type(Lst))

[1, 'Pritesh', 24, 1.24]
<class 'list'>

# **List Lenght**

In [4]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

 # List Apppend

In [5]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') #append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

# List insert

In [6]:
# syntax lst.insert(x, y)

lst = ['one', 'two', 'four']

lst.insert(2, 'three')

print(lst)

['one', 'two', 'three', 'four']

# List Remove

In [10]:
 # syntax lst.remove(x)
 lst = ['one', 'two', 'three', 'four', 'two']

 lst.remove('two')
 print(lst)

['one', 'three', 'four', 'two']

# List Append and Extend

In [14]:
lst = ['one', 'two', 'three', 'four']
lst1 = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append
lst.append(lst2)
print(lst)
lst1.extend(lst2)
print(lst1)

['one', 'two', 'three', 'four', ['five', 'six']]
['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [16]:
# del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method

a = lst.pop(2)
print(a)
print(lst)

['one', 'three', 'four', 'five']
four
['one', 'three', 'five']

In [17]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('three')

print(lst)

['one', 'two', 'four']

# **List related Keyword in Python**

In [19]:
#keyword 'in' is used to test if an item is in a list

lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
  print('YaY!!')

#Keyword not can be combined with 'in'

if 'six' not in lst:
  print('NaY!!!!')

YaY!!
NaY!!!!

#**List reverse**

In [20]:
# Reverse the entire list
lst = ['one', 'two', 'three', 'four']

lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

# **List Sorting**

The easiest way to sort a list is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order

In [21]:
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)

print("Unsorted list: ", numbers)
print("Sorted list: ", sorted_lst)

Unsorted list:  [3, 1, 6, 2, 8]
Sorted list:  [1, 2, 3, 6, 8]

In [23]:
# print a list in reverse sorted ordrer
print("Reverse sorted list :", sorted(numbers, reverse = True))

#Original list remains unchanged
print("Original list :", numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [27]:
lst = [1, 20, 5, 5, 2.3, 4.2]

#sort the list and stored in itself

lst.sort()
print("Sorted list: ", lst)
lst.sort(reverse = True)
print("Sorted list: ", lst)

Sorted list:  [1, 2.3, 4.2, 5, 5, 20]
Sorted list:  [20, 5, 5, 4.2, 2.3, 1]

In [25]:
#this wil throw error
lst = [1, 20, 'b', 'a', 5]
print(lst.sort())

TypeError: ignored

#**List Having Multiple References**

In [29]:
lst = [1, 2, 3, 4, 5]
abc = lst # This will simply point to the memory location of lst
abc.append(6)

#print original list
print("Original List", lst)

Original List [1, 2, 3, 4, 5, 6]

#String Split to create a list

In [30]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [31]:
s = "This is Pritesh Kumar Verma"

split_lst = s.split() #default split is white-character: space or tab

print(split_lst)

['This', 'is', 'Pritesh', 'Kumar', 'Verma']

# **List indexing**

Each item in the list has an assigned index value starting from 0.

Accessing element in a list is called indexing

In [32]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-1])

2
4

#**List Slicing**

Accessing parts of segments is called slicing

In [33]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]

#print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [37]:
print(numbers)
#print alternate elements in list
print(numbers[::2])

#print elements start from 2 through rest of the list 
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

#**List extend using "+"**

In [38]:
lst1 = [1, 2, 3, 4]
lst2 = ['Verma', 'Pritesh', 'Nikhil', 'Amlan', 'Amar']

new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 'Verma', 'Pritesh', 'Nikhil', 'Amlan', 'Amar']

#List Count

In [41]:
numbers = [1, 2, 3, 1, 3, 4, 2, 3, 3, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of number 3 in a list
print(numbers.count(3))

2
4

#List Looping

In [42]:
lst = ['one', 'two', 'three', 'four']

for ele in Lst:
  print(ele)

one
two
three
four

#**List comprehensions**
List comprehensions provieds a concise way to create lists.

Common application are to make new list where each element is the result of some operation applied to each member of another sequence or iterable, or to create a subsequence  of those elements that satistfy a certai n condition.

In [44]:
#without list comprehension
squares = []
for i in range(10):
  squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
# unsing list comprehension
squares = [i**2 for i in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled

new_lst = [ele*2 for ele in lst]
print(new_lst)

#Filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)

#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

#**Nested List Comprehensions**

In [49]:
#let's suppose we have a matrix

matrix = [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
  lst = []
  for row in matrix:
    lst.append(row[i])
  transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
# with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

# This is harder to read but concise

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]