<a href="https://colab.research.google.com/github/priteshvermaa/Devops_-_Python/blob/master/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SETs**

-> A set is an unordered collection of items. Every elements is unique (no duplicates)

-> The set itself is mutable. We can add or remove items from it

->Sets can be used to perform mathematical set operations like union, intersection, symmetric, difference etc.

#**Set Creation**

In [1]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [3]:
#set doesn't allow duplicates
s = {1,1,1,1,1,2,2,2,2,3,3,3,5,7,8}
print(s)

{1, 2, 3, 5, 7, 8}

In [4]:
# we can make set from a list
s = set([1, 2, 3, 1, 4])
print(s)

{1, 2, 3, 4}

In [5]:
#initialize a set with set() method

s = set() #will create an empty set

print(type(s))

<class 'set'>

#**Add element to a SET**

In [13]:
#we  can add single element using add() method and can add
# multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) # will give TypeError

TypeError: ignored

In [14]:
#using add()
s = {1,3}

s.add(2)
print(s)

{1, 2, 3}

In [15]:
# add multiple element using update
s.update([5, 6 ,1])
print(s)

{1, 2, 3, 5, 6}

In [17]:
s.update({44,55,66})
print(s)

{1, 2, 3, 66, 5, 6, 44, 55}

In [18]:
#remove an element from set
s.remove(3)
print(s)

{1, 2, 66, 5, 6, 44, 55}

In [19]:
s = {1, 2, 3, 4, 5}
print(s)

s.discard(4) #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [20]:
#removing an element not present in set s will give KeyError
s.remove(20)

KeyError: ignored

In [22]:
#discard an element not present in a set s
s.discard(20) # it doesn't throw any error
print(s)

{1, 2, 3, 5}

In [24]:
#we can remove item using pop() method

s = {1, 2, 3, 4, 5}
s.pop() # it removes element at random

print(s)

{2, 3, 4, 5}

In [25]:
s = {1, 5, 2, 3, 6}

s.clear() #remove all items in set using clear() method

print(s)

set()

#**Python Set Operations**

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets uisng | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [27]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [28]:
#intersection of 2 set using & operator
print(set1 & set2)

{3, 4, 5}

In [31]:
# use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [32]:
#set difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [33]:
#use difference function
print(set1.difference(set2))

{1, 2}

In [34]:
"""Symmetric difference: set of elements in both set1 and set2
except those are common in both"""

#use ^ operator

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1^set2)

{1, 2, 6, 7}

In [35]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [36]:
#find issubset

x = {"a", "b", "c", "d", "e"}
y = {"c", "d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check if x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

#**Frozen Sets**

Frozen sets has the characteristics of sets, but it can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. One the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports method like copy(), difference(), instersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it doesn't have method that add or remove elements

In [37]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])