<a href="https://colab.research.google.com/github/priteshvermaa/Devops_-_Python/blob/master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tuple** Data Structure

-> A tuple is similar to list

-> The difference between the two is that we can't change the element of tuple once it is assigned whereas in the list, elements can be changed

#**Tuple creation**

In [2]:
#empty tuple
t = ()
print(t)
print(type(t))
#tuple having integers

t = (1, 2, 3)

print(t)
print(type(t))

#tuple with mixed datatypes
t = (1, 'rohan', '34', 'Dubai')
print(t)

#nested tuple
t  = (1, (2, 3, 4), [1, 'rohan', '34', 'Dubai'])
print(t)

()
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 'rohan', '34', 'Dubai')
(1, (2, 3, 4), [1, 'rohan', '34', 'Dubai'])

In [3]:
 #only paranthesis is not enough

 t = ("Amlan")
 type(t)

str

In [4]:
#need a comma at the end

t = ("Amlan", )
type(t)

tuple

In [5]:
#parenthesis is optional
t = "Nikhil",
print(type(t))

print(t)

# when we have more than one element then there is no problem

<class 'tuple'>
('Nikhil',)

#**Accessing Elements in Tuple**

In [6]:
t = ("Nikhil", "Pritesh", "Amlan", "Amar", "Varma")

print(t[1])

Pritesh

In [7]:
#negative index
print(t[-1]) // print last element

Varma

In [11]:
#nested tuple
t = ('PQR', ("Pritesh", "Nikhil", "Amlan"))
print(t[0])

print(t[1])

print(t[1][2])

PQR
('Pritesh', 'Nikhil', 'Amlan')
Amlan

In [13]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd lst elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

#**Changing a Tuple**

-> Unlike list, tuples are immutable

-> This means that element of a tuple cannot be changed once it has been assigned. But, if the element itself a mutable datatype like list, its nested items can be changed.

In [14]:
#creating a tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: ignored

In [15]:
t = (1, 2, 3, 4, [5, 6, 7])

t[4][1] = "Pritesh" #it let's you do that because list is mutable, basically here [5, 6, 7] is
                    #of type list and we aren't changing the type

print(t)

(1, 2, 3, 4, [5, 'Pritesh', 7])

In [16]:
#concatinating tuples
t = (1, 2, 3) + (4, 5, 6)

print(t)

(1, 2, 3, 4, 5, 6)

In [17]:
#repeat the elements in a tuple for a given number of times using * operator
t = (('Pritesh',)* 4)
print(t)

('Pritesh', 'Pritesh', 'Pritesh', 'Pritesh')

#**Tuple Deletion**

In [19]:
#we cannot change the elements in a tuple 
# That also means we cannot delete or remove items from a tuple but we can delete the whole
# tuple all together

#delete entire tuple using del  keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

#**Tuple Count**

In [20]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple

t.count(1)

3

#**Tuple Index**

In [22]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) # return index of first element is equal to 3

#print the index pf 1
print(t.index(1))

2
0

#**Tuple Memebership**

In [25]:
# test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)
print(7 in t)

True
False

#**Built in Functions**

In [29]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) # Take elements in the tuple and return a new sorted list
             # (doest not sort the tuple itself)
print(type(new_t))

[1, 2, 3, 4, 5]
<class 'list'>

In [30]:
# Tuple length
t = (4, 5, 1, 2, 3)
print(len(t))

5

In [31]:
#get the largest element in a tuple

t = (2, 5, 1, 6, 9)

print(max(t))

9

In [32]:
#get the smallest element in a tuple
print(min(t))

1

In [33]:
#get sum of elements in the tuple
print(sum(t))

23